#canvas {
  border-radius: 5px;
  border-style: solid;
  border-color: red;
  /* display: inline; */
  background: url(./tempAssets/space-background.jpg);


}

h1 {
  text-align: center;
  color: red;
}

body {
  align-content: center;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 100%; */

}
